
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    color: black;
    background-color: white;
}


.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: transparent;
}


.logo {
    width: 100px;
    height: auto;
}

header nav {
    margin-left: auto;
}


header nav ul {
    list-style-type: none;
    display: flex;
    gap: 20px;
    padding: 0;
    position: relative;
}

header nav ul li a {
    text-decoration: none;
    font-size: 1.2rem;
    padding: 10px;
    background: linear-gradient(to right, #0066ff, #00cc99);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
    position: relative;
}

header nav ul li:hover a {
    background-color: #8b2700;
    padding: 8px;
    border-radius: 5px;
}


footer {
    text-align: center;
    background-color: transparent;
    color: white;
    padding: 15px 0;
    width: 100%;
    margin-top: auto;
}


.intro {
    height: 150vh;
    background: url('https://media1.giphy.com/media/60q1K6mTzQQ1suxNfm/giphy.gif?cid=6c09b9524slcsai0oop7rl1ppfoblyhxi7klwk1p01igzvw4&ep=v1_internal_gif_by_id&rid=giphy.gif&ct=g') no-repeat center center/cover;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    color: white;
}

.intro h2 {
    background: linear-gradient(to right, #ebecec, #00cc99);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}



.overlay {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 80px;
    border-radius: 1000px;
    text-align: center;
    font-family: 'Oswald', sans-serif;
    background: linear-gradient(to right, #0066ff, #00cc99);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bolder;
}




h1, h2, h3, h4 {
    font-family: 'Oswald', sans-serif;
    background: linear-gradient(to right, #0066ff, #00cc99);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
    margin-bottom: 20px;
}





p {
    font-family: 'Source Code Pro', monospace;
    font-size: 1.3rem;
    line-height: 1.6;
    color: #2c3e50;
}


.content-section {

    padding: 0 40px;
}
ul li {
    font-family: 'Source Code Pro', monospace;
    font-size: 1.1rem;
    font-weight: bold;
    color: #008080;
    
}

.about-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 50px;
    margin: 0 auto;
}



.about-img, .about-gif {
    width: 30%;
    height: auto;

    
  
}
   


.topics-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 70px;
    max-width: 1400px;
    margin: 0 auto;
    margin-left: 50px;
    gap: 30px;
}

.topic {
    flex-basis: 80%;
    margin-bottom: 20px;
}

.topicsPics-container {
    width: 35%;
    display: flex;
    flex-direction: column;
    gap: 100px;
    margin-left: 50px;
    
}

.topicsPicscontainer img {
    width: 100%;
    height: auto;
   
}


.github-container, .conferences-container, .stackoverflow-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; 
    margin: 0 auto;
    height: auto;
    padding: 20px; 
    text-align: center; 
}


.indented-paragraph {
    text-indent: 70px;
    margin-top: 10px;
}



.dropdown-content {
    display: none;
    position: absolute;
    background-color: #2c3e50;
    min-width: 160px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
    right: 0;
}

.dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #e74c3c;
}

.dropdown:hover .dropdown-content {
    display: block;
}

header nav ul li:hover a {
    background-color: #8b4300;
    padding: 8px;
    border-radius: 5px;
    color: white;
}

.image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
}

.image-container img {
    width: 36%;
    height: auto;
}

.research-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
}

.research-container img {
    width: 25%;
    height:auto;
}

.citations-list li {
    font-size: 1.5rem;
    line-height: 2.5; 
}
